body{
    background-color: aliceblue;

}
header{
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  
}
.menu-desayunos{
    display: flex;
    justify-content: center;
   
}
.menu{
    width: 60%;
}
.precios{
    width: fit-content;
}
p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (max-width: 610px){
    body{
        background-color: aliceblue;
        font-size: 10px ;
    }
    .menu{
        width: 80%;
    }
}