body{
    background-color: aliceblue;
    width: 100%;
    padding: 0%;
    margin: 0;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu-desktop{
    display: none;
}
.nav{
    display: flex;
    flex-direction: row;
}
.container{
    width: 100%;
    display: flex;

}
.menuHamburgues{
    margin-top: 1%;
    margin-right: 7%;
    margin-bottom: 7%;
    margin-left: 7%;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.logo-caracol{
    width: 90%;
}
footer {
    background-image: url(/imagenes/mar.jpg);
    width: 100%;
    height: 158px;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;

    
}
.iconos{
    width: 19%;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (min-width: 600px) {
    body{
        background-color: red;
    }
    .icon-hamburger{
        display:none;
    
    }
    .menu-desktop{
        display: flex;
    }
}